@model CPDMSEF.CUnitTagging
@{
    <link rel="icon" type="image/x-icon" href="./images/departmentlogo.png">
    ViewData["Title"] = "Company UnitTagging";
    Layout = "~/Areas/CompanyRegistraion/Views/Shared/_CompanyRegisLayout.cshtml";
}
@{
    var unitDetails = ViewBag.Unitlist;

}

@if (ViewBag.msg != null)
{
    <script>
        swal("", '@ViewBag.msg', "warning");

    </script>
    ViewBag.msg = null;
}

<div class="authentication-box">
    <div class="">
        <div class="page-header">
            <div class="">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="page-header-left">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <ol class="breadcrumb pull-right">
                            <li class="breadcrumb-item">
                                <a href="~/CompanyRegistraion/CompanyRegistration/CompanyDashboard"><i data-feather="home"></i></a>
                            </li>
                            <li class="breadcrumb-item active">Company Entry</li>

                            <li class="breadcrumb-item active">Unit Tagging</li>
                        </ol>
                    </div>
                </div>
                <div class="row card lg:w-[67rem] lg:ml-[14rem] ">
                    <div class=" p-0 ">
                        <div class=" tab2-card">
                            <div class="card-body">
                                <ul class="nav nav-tabs nav-material" id="top-tab" role="tablist">
                                    <li class="nav-item"> <a class="nav-link" id="contact-top-tab" data-bs-toggle="tab" href="#top-contact" role="tab" aria-controls="top-contact" aria-selected="false"><span class="icon-unlock me-2"></span><b>Unit Tagging</b></a> </li>
                                </ul>
                                <div role="tabpanel">
                                    @using (Html.BeginForm("CompanyUnitTagging", "CompanyRegistration", FormMethod.Post, new { AUTOCOMPLETE = "Off", id = "form1" }))
                                       {

                                        <div class="form-group">
                                            Company
                                            @Html.DropDownListFor(m => m.Company_Code, ViewBag.ViewCompanyList as IEnumerable<SelectListItem>, "-- Select Company --", new { @class = "form-control", autofocus = "autofocus" ,hidden="hidden"})
                                            <select name="Company_Code" class="form-control"><option value="@ViewBag.CompanyCode">@ViewBag.CompanyName</option></select>

                                        </div>
                                    
                                        <div class="form-group">
                                           Unit

                                     @Html.DropDownListFor(m => m.Unit_Code,  ViewBag.ViewUnitList as IEnumerable<SelectListItem>, "-- Select Unit --", new {@class = "form-control" ,@onchange="UnitTagging()", autofocus = "autofocus", required = "required"})
                                       </div>
                       <div class="row">
                <div class="col-sm" style="text-align: right;">
                    <div class="form-button">
                        <input type="submit" value='@ViewBag.Button' class="btn btn-primary" name="Submit" id="Submit" />
                    </div>
                </div>
            </div>
                                       
        }
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- <a href="index.html" class="btn btn-primary back-btn"><i data-feather="arrow-left"></i>back</a> -->
            </div>
        </div> <!-- <a href="index.html" class="btn btn-primary back-btn"><i data-feather="arrow-left"></i>back</a> -->
    </div>
</div>
<div class="authentication-box">
    <div class="">
        <div class="authentication-box">
            <div class="">
                <div class="row card lg:w-[67rem] lg:ml-[14rem] ">
                    <div class=" p-0 ">
                        <div class=" tab2-card">
                            <div class="card-body">
                                <ul class="nav nav-tabs nav-material" id="top-tab" role="tablist">
                                    <li class="nav-item"> <a class="nav-link" id="contact-top-tab" data-bs-toggle="tab" href="#top-contact" role="tab" aria-controls="top-contact" aria-selected="false"><span class="icon-unlock me-2"></span><b>Unit Lists</b></a> </li>
                                </ul>
                                <div role="tabpanel">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div id="viewtable">
                                                <div class="table-responsive">
                                                    <table id="datatable" class="table table-sm table-bordered table-textbreak">

                                                        <thead class="header-style">
                                                            <tr>
                                                                <th>Sr no</th>
                                                                <th>Company Name</th>
                                                                <th>Name of Unit</th>
                                                                <th>Action</th>
                                                            </tr>

                                                        </thead>
                                                        <tbody>
                                                            @{
                                                                var count = 0;
                                                                foreach (var item in unitDetails)
                                                                {
                                                                    count++;
                                                                    <tr>
                                                                    <td>@count</td>
                                                                    <td>@item.Company_Name</td>
                                                                    <td>@item.Name_of_Unit</td>
                                                                    <td>
                                                                        <form action="CompanyUnitTagging" method="get">
                                                                            <input type="hidden" name="actionid" value="1" id="action" />
                                                                            <input type="hidden" name="Cid" value="@item.ID" id="DId" />
                                                                            <button type="submit" class="btn btn-link" id="sbutton">
                                                                                <span class="bi bi-trash" style="font-size: 1.5rem; color: rgb(255, 0, 0);"></span>
                                                                            </button>
                                                                        </form>
                                                                    </td>
                                                                </tr>
                                                            }
                                                            }
                                                        </tbody>
                                                    </table>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div> 
    </div>
</div>


