@model CPDMSEF.MainUseCategoryReport
@{
    <link rel="icon" type="image/x-icon" href="./images/departmentlogo.png">
    ViewData["Title"] = "Main Use Category Report";
    Layout = "~/Areas/UnitRegistration/Views/Shared/_UnitRegisLayout.cshtml";
}
@{
    var ShowMainUseCategorylist = ViewBag.ShowMainUseCategorylist ;
}

<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

@if (ViewBag.msg != null)
{
    <script>
        swal("", '@ViewBag.msg', "warning");

    </script>
    ViewBag.msg = null;
}
<div class="authentication-box">
    <div class="">
        <div class="page-header">
            <div class="">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="page-header-left">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <ol class="breadcrumb pull-right">
                            <li class="breadcrumb-item">
                                <a href="~/UnitRegistration/UnitRegistration/UnitDPTADMDashboard"><i data-feather="home"></i></a>
                            </li>
                            <li class="breadcrumb-item active">Report</li>

                            <li class="breadcrumb-item active">Main Use Category </li>
                        </ol>
                    </div>
                </div>
                <div class="row card lg:w-[67rem] lg:ml-[14rem] ">
                    <div class=" p-0 ">
                        <div class=" tab2-card">
                            <div class="card-body">
                                <ul class="nav nav-tabs nav-material" id="top-tab" role="tablist">
                                    <li class="nav-item"> <a class="nav-link" id="contact-top-tab" data-bs-toggle="tab" href="#top-contact" role="tab" aria-controls="top-contact" aria-selected="false"><span class="icon-unlock me-2"></span><b>Main Use Category</b></a> </li>
                                </ul>
                                <div role="tabpanel">
                                    <form method="post">

                                        <div class="row">

                                            <div class="col-sm">
                                                <div class="form-group">
                                                    Main Use Category  <span class="RequiredField"></span>
                                                    <select name="Main_Use_Category_ID" id="Main_Use_Category_ID" class="form-control searchableselect" style="width: 40%">
                                                        <option value="0">--All Main Use Category --</option>
                                                        @foreach (var comItem in ViewBag.ShowMainCategorylist)
                                                        {
                                                            <option value="@comItem.Value">@comItem.Text</option>
                                                        }
                                                    </select>

                                                </div>
                                            </div>

                                            <div class="col-sm">
                                                <div>
                                                    <button style=" background-color: #024828;  color: white;  border: none;  padding: 8px 16px;  cursor: pointer;margin-left:-58%">Search</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div id="viewtable">
                                                <div class="table-responsive">
                                                    <table id="datatable" class="table table-sm table-bordered table-textbreak">

                                                        <thead class="header-style">
                                                            <tr>

                                                                <th>
                                                                    Sr#
                                                                </th>
                                                                <th hidden>MainUseCategoryID</th>
                                                                <th>MainUseCategoryName</th>                                                              
                                                            </tr>

                                                        </thead>
                                                        <tbody>
                                                            @foreach (var item in ShowMainUseCategorylist)
                                                            {
                                                                <tr class="table-row">
                                                                    <td>@item.Main_Use_Category_ID</td>
                                                                    <td>@item.Main_Use_Category_Name</td>


                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>

                                                </div>
                                                <div id="pagination-container">
                                                    <ul id="pagination" class="pagination"></ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- <a href="index.html" class="btn btn-primary back-btn"><i data-feather="arrow-left"></i>back</a> -->
            </div>
        </div> <!-- <a href="index.html" class="btn btn-primary back-btn"><i data-feather="arrow-left"></i>back</a> -->
    </div>
</div>

<script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>

<script type="text/javascript">
    function exportfun() {
        var table = document.getElementById('datatable');

        var workbook = XLSX.utils.table_to_book(table);

        var excelData = XLSX.write(workbook, { bookType: 'xlsx', type: 'array' });

        var blob = new Blob([excelData], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' });

        var url = URL.createObjectURL(blob);
        var link = document.createElement('a');
        link.href = url;
        link.download = 'Report.xlsx';
        document.body.appendChild(link);

        link.click();

        URL.revokeObjectURL(url);
        document.body.removeChild(link);
    }

</script>
<script>
    var currentPage = 1;
    var rowsPerPage = 5;
    $(document).ready(function () {
        function paginateTable() {
            var table = $('#datatable');
            var rows = table.find('tbody tr');


            var totalPages = Math.ceil(rows.length / rowsPerPage);


            var pagination = $('#pagination');
            pagination.empty();

            for (var i = 1; i <= totalPages; i++) {
                var link = $('<li class="page-item"><a class="page-link" href="#">' + i + '</a></li>');


                if (i === currentPage) {
                    link.addClass('active');
                }

                pagination.append(link);
            }


            var startIndex = (currentPage - 1) * rowsPerPage;
            var endIndex = startIndex + rowsPerPage;

            rows.hide().slice(startIndex, endIndex).show();
        }


        paginateTable();

        $(document).on('click', '#pagination li a', function (event) {
            event.preventDefault();

            var clickedPage = parseInt($(this).text());


            currentPage = clickedPage;
            paginateTable();


            $('html, body').animate({ scrollTop: $('#table-container').offset().top }, 'slow');
        });
    });

</script>
