@model CPDMSEF.PatternExposureEF
@{
    <link rel="icon" type="image/x-icon" href="./images/departmentlogo.png">
    ViewData["Title"] = "Pattern Exposure";
    Layout = "~/Areas/UnitRegistration/Views/Shared/_UnitRegisLayout.cshtml";
}
@if (ViewBag.msg != null)
{
    <script>
        swal("", '@ViewBag.msg', "success");
    </script>
    ViewBag.msg = null;
}
<style>
    #loading-gif {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .table-row:hover {
        cursor: zoom-in;
    }

    /* Styling for the popup container */


    #popupContainer {
        width: 30%;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        padding: 20px;
        border: 1px solid #ccc;
        z-index: 9999;
        height: 400px;
        max-height: 600px;
        overflow: auto;
    }

    /* Styling for the close link */
    #closePopup {
        float: right;
        color: red;
        text-decoration: underline;
    }

    /* Styling for the table inside the popup */

</style>

<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

<div class="authentication-box">
    <div class="">
        <div class="page-header">
            <div class="">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="page-header-left">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <ol class="breadcrumb pull-right">
                            <li class="breadcrumb-item">
                                <a href="/UnitRegistration/UnitRegistration/UnitDPTADMDashboard"><i data-feather="home"></i></a>
                            </li>
                            <li class="breadcrumb-item active">Master Entry </li>
                            <li class="breadcrumb-item active">Group </li>
                            <li class="breadcrumb-item active">Pattern Exposure</li>
                        </ol>

                    </div>
                </div>
                <div class="row card lg:w-[67rem] lg:ml-[14rem] ">
                    <div class=" p-0 ">
                        <div class=" tab2-card">
                            <div class="card-body">
                                <ul class="nav nav-tabs nav-material" id="top-tab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link" id="contact-top-tab" data-bs-toggle="tab" href="#top-contact" role="tab" aria-controls="top-contact" aria-selected="false">
                                            <span class="icon-unlock me-2">
                                            </span><b>Pattern Exposure Name</b>
                                        </a>
                                    </li>
                                </ul>
                                <div role="tabpanel">
                                    @using (Html.BeginForm("PatternExposure", "UnitRegistration", FormMethod.Post, new { AUTOCOMPLETE = "Off", id = "form1" }))
                                    {
                                        <div class="row">
                                            <div class="col-md-2">
                                                Pattern Exposure Name  <span class="RequiredField">*</span>
                                            </div>
                                            <div class="col-md-3">
                                                <input type="text" name="Pattern_Exposure_Name" class="form-control" required>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-button">
                                                    <input type="submit" class="btn btn-primary" Value="Save" id="save" style="background:#024828!important;" />
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="authentication-box">
    <div class="">
        <div class="authentication-box">
            <div class="">
                <div class="row card lg:w-[67rem] lg:ml-[14rem] ">
                    <div class=" p-0 ">
                        <div class=" tab2-card">
                            <div class="card-body">
                                <div role="tabpanel">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div id="viewtable">
                                                <div class="table-responsive">
                                                    <table id="datatable" class="table table-sm table-bordered table-textbreak">

                                                        <thead class="header-style">
                                                            <tr>
                                                                <th>Sr no</th>
                                                                <th hidden>Pattern_Exposure_ID</th>
                                                                <th>Pattern Exposure Name</th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @{
                                                                var count = 0;
                                                                foreach (var item in ViewBag.PatternExposureList)
                                                                {
                                                                    count++;
                                                                    <tr class="table-row">
                                                                        <td>@count</td>
                                                                        <td hidden>@item.Pattern_Exposure_ID</td>
                                                                        <td>@item.Pattern_Exposure_Name</td>
                                                                        <td>
                                                                            <form action="#" method="get">
                                                                                <input type="hidden" name="Pid" value="@item.Pattern_Exposure_ID" id="DId" />
                                                                                <button type="submit" class="btn btn-link" id="sbutton">
                                                                                    <span id="showPopup" class="btn btn-success" style="background:#024828!important"><i class='fa fa-edit'></i></span>

                                                                                </button>
                                                                            </form>
                                                                        </td>
                                                                    </tr>
                                                                }
                                                            }
                                                        </tbody>
                                                    </table>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="popupContainer" style="display: none;">
    <a href="#" id="closePopup">Close</a>
    @using (Html.BeginForm("PatternExposure", "UnitRegistration", FormMethod.Post, new { enctype = "multipart/form-data", AUTOCOMPLETE = "Off", id = "form1" }))
    {
        <div class="form-group">
            <label for="currentPatternExposure" class="form-label small-input center-input">Current PatternExposure <span class="RequiredField">*</span></label>
            <input type="text" class="form-control small-input center-input" id="currentPatternExposure" name="CurrentPatternExposure" disabled>
        </div>
        <input type="text" class="form-control small-input center-input" id="PatternExposureID" name="Pattern_Exposure_ID" hidden>
        <div class="form-group">
            <label for="newPatternExposure" class="form-label small-input center-input">New PatternExposure <span class="RequiredField">*</span></label>
            <input type="text" class="form-control small-input center-input" id="newPatternExposure" name="Pattern_Exposure_Name" placeholder="New PatternExposure" required>
        </div>
        <div class="d-flex justify-content-center space-x-2">
            <div class="">
                <div class="form-button"> <button class="btn btn-primary" type="submit" style="background: #024828 !important;">Update PatternExposure</button> </div>
            </div>           
        </div>
    }
</div>
<!-- Link to show the popup -->
<script>
    document.getElementById("showPopup").addEventListener("click", function (e) {
        e.preventDefault();
        debugger
        var PatternExposureID = e.target.parentElement.parentElement.cells[1].textContent;
        document.getElementById("popupContainer").style.display = "block";
    });

    document.getElementById("closePopup").addEventListener("click", function (e) {
        e.preventDefault();
        document.getElementById("popupContainer").style.display = "none";
    });
    var tableRows = document.getElementsByClassName("table-row");
    for (var i = 0; i < tableRows.length; i++) {
        tableRows[i].addEventListener("click", function (e) {
            debugger;
            e.preventDefault();
            var selectedRow = e.currentTarget;
            var PatternExposureID = selectedRow.cells[1].textContent;
            var PatternExposure = selectedRow.cells[2].textContent;
            document.getElementById("PatternExposureID").value = PatternExposureID;
            document.getElementById("currentPatternExposure").value = PatternExposure;
            document.getElementById("popupContainer").style.display = "block";
        });
    }
</script>
